body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('https://images.unsplash.com/photo-1582138956924-e0b579cce05f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1988&q=80') !important;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 1020px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 12px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.75);
  border: 1px solid rgba(209, 213, 219, 0.3);
    
}

.ant-layout {
  background-image: url('https://images.unsplash.com/photo-1582138956924-e0b579cce05f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1988&q=80') !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.poll-content {
  background-color: white;
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.7em;
  }
}